= simple_form_for resource, :html => {:class => 'bp'} do |f|
  - if resource.errors.any?
    #error_explanation
      .errors
        - resource.errors.full_messages.each do |err|
          %p.error= err
  %fieldset    
    .inputs
      = f.input :name
      = f.input :url, :as => :string
      = f.input :ttl, :default => 10
      = f.input :enabled
      - if current_user.admin?
        = f.association :user, :collection => User.all(:order => 'full_name'), :prompt => "Choose an Owner"
      - else
        = f.association :user, :as => :hidden, :value => current_user
  
    .buttons
      = f.submit "Add"
