= simple_form_for @user, :url => profile_path, :html => {:class => 'bp'} do |f|
  - if @user.errors.any?
    #error_explanation
      .errors
        - @user.errors.full_messages.each do |err|
          %p.error= err
  %fieldset    
    .inputs
      = f.input :email
      = f.input :full_name
  
      = f.input :password
      = f.input :password_confirmation
  
    .buttons
      = f.submit "Save"
