%h2 Listing responses

.column
  .column.span-4
    = form_tag responses_path, :method => :get do
      = select_tag "filters[website_id]", options_from_collection_for_select(@websites, "id", "name", (params[:filters][:website_id] rescue nil)), :include_blank => true
      = submit_tag "Show"
  .column.last
    = will_paginate(collection)

%table
  %thead
    %tr
      %th Code
      %th Timed out
      %th Website
      %th Time

  - collection.each do |item|
    %tr{:class => item.is_good? ? "good" : "bad"}
      %td= item.code
      %td= item.timed_out?
      %td= item.website.name
      %td= item.created_at.to_s(:long)

= will_paginate(collection)